@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: white;
}

.dark {
  --theme-color: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --theme-color: black;
  }
} */
